div {
   color: white;
}
.login_div {
   height: 88vh;
   background-repeat: no-repeat;
   background-size: cover;
   padding-top: 2%;

   .form_div {
      margin: auto;
      display: flex;
      height: 90%;
      width: 80%;
      background: #004b3948;
      box-shadow: 0 8px 16px 0 #006d7142;
      backdrop-filter: blur(4px);
      -webkit-backdrop-filter: blur(4px);
      border-radius: 10px;
      border: 1px solid rgba(255, 255, 255, 0.18);

      .login_left{
         width: 50%;
         height: 100%;
      }
      
      .login_right{
         width: 50%;
         height: 100%;
      border-radius: 0 10px 10px 0;

         background-color: #004b39;
      }
   }
}



 


   .oAuth{
       margin: auto;
       width: 10rem;

       .oAuthIcons{
           margin: 1rem 0.5rem;
           cursor: pointer;
       }
   }


.btn{
   text-align: center;
   width: fit-content;
   margin: auto;
   .submitBtn{
       background-color: rgb(16, 67, 18);
       border-radius: 0.2rem;
       cursor: pointer;
       color: white;
       padding: 1rem 3rem;
       margin: 2rem 0 0.5rem 0;
       font-size: 1.1rem;
   
   }

   .hotLink{
       margin: auto;
       color: rgb(117, 117, 117);
       
   }

   
}


.centerElements {
   display: flex;
   justify-content: center;
   align-items: center;
}

