.Home_description {
   height: 100%;
   background-image: url("/background.jpg");
   background-size: cover;
   background-position: 0 -80px;
   text-align: center;
   font-family: Galdeano;
   font-weight: bolder;
   text-shadow: -1px 4px 31px rgb(255, 255, 255);

   .title_name {
      padding-top: 13rem;
      margin: 0;
      font-size: 1rem;
   }

   .place_name {
      padding-top: 1rem;
      padding-bottom: 3rem;
      margin: 0;
      font-size: 2rem;
   }

   .bottom_home {
      height: 15rem;
      background: rgb(0, 23, 0);
      background: linear-gradient(0deg, rgba(0, 23, 0, 1) 0%, rgba(253, 187, 45, 0) 100%);
   }



}

.home_details {
   background-image: url("/home_bottom.jpg");
   background-size: cover;
   height: 85rem;

   .home_details_color_down {
      height: 40rem;
      background: rgb(0, 23, 0);
      background: linear-gradient(0deg, rgba(0, 23, 0, 1) 0%, rgba(253, 187, 45, 0) 100%);
   }

   .home_details_color_up {
      overflow: hidden;
      height: 45rem;
      background: rgb(0, 23, 0);
      background: linear-gradient(0deg, rgba(0, 23, 0, 0) 0%, rgba(0, 23, 0, 1) 100%);

      .parent {
         width: 100%;
         display: grid;
         color: antiquewhite;
         grid-template-columns: 10% 45% 45% repeat(2, 1fr);
         grid-template-rows: repeat(5, 1fr);
         grid-column-gap: 0px;
         grid-row-gap: 0px;
         margin-top: 20px;

         .div1 { grid-area: 1 / 1 / 2 / 2; }
         .div2 { grid-area: 1 / 2 / 2 / 3; }
         .div3 { grid-area: 2 / 1 / 3 / 2; }
         .div4 { grid-area: 2 / 2 / 3 / 3; }
         .div5 { grid-area: 3 / 1 / 4 / 2; }
         .div6 { grid-area: 3 / 2 / 4 / 3; }
         .div7 { grid-area: 4 / 1 / 5 / 2; }
         .div8 { grid-area: 4 / 2 / 5 / 3; }
         .div9 { grid-area: 1 / 1 / 2 / 3; }
         .div10 { grid-area: 2 / 1 / 3 / 3; }
         .div11 { grid-area: 3 / 1 / 4 / 3; }
         .div12 { grid-area: 4 / 1 / 5 / 3; }
         .div13 { grid-area: 1 / 3 / 5 / 4; }
         }

         .div2, .div4, .div6, .div8{
            padding:  1rem;
            font-size: 1rem;
         }
         .div1, .div3, .div5, .div7{
            border-right: 4px solid goldenrod;
            margin-right: 1rem;
            padding-left: 78%;
            padding-top: 40%;
            
.material-symbols-outlined {
 color: goldenrod;
}
         }
         .div10, .div11, .div12, .div9{
            background-color: rgb(255, 255, 1, 0.20);
         }

         .div13{
            overflow: hidden;
            height: 100%;
              
            .image_wrapper{
               height: 100%;
               width: 85%;
               margin-right: auto;
               
               
               .div_img1{
                  height: 50%;
                  width: 100%;
                  background-image: url("/public/Gees-Golden-Langur.jpg");
                  background-size: cover;
                  position:relative;
                  top: -100px;
                  background-repeat: no-repeat;
               }
               .div_img2{
                  height: 50%;
                  width: 100%;
                  z-index: 1;
                  top: -120px;
                  position:relative;
                  background-image: url("/public/brahmaputra.jpg");
                  background-size: cover;
                  background-repeat: no-repeat;
               }
               .div_img3{
                  height: 50%;
                  z-index: 2;
                  position:relative;
                  background-image: url("/public/manas-national-park-india.jpg");
                  top: -180px;
                  background-size: cover;
                  background-repeat: no-repeat;
               }

            }
         }

   }
}