* {
  font-family: Galdeano;
}

.device_view {
  background-color:  #A9C4FF;
  background-size: cover;

  .device_content {
    padding: 0.1rem 0.5rem;
    margin: auto;

  }
}

::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #006D71;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #A9C4FF
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:  #008DAE;
}